.header {
  background-color: lightgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  margin-top: 3px;
  width: 150px;
  object-fit: contain;
}

.title{
  margin: 30px 30px;
}

.user__name {
  color: rgb(46, 187, 46);
}

.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top:20px;
  padding-bottom: 20px;
}