.header {
  background-color: lightgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  margin-top: 3px;
  width: 150px;
  object-fit: contain;
}


.booking {
    padding: 20px 80px;
}

.user__name {
  color: rgb(46, 187, 46);
}

.booking > h1 {
    margin: 30px 0;
}